# Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fantrade"

# Server Configuration
PORT=3001
NODE_ENV=development

# JWT & Auth
JWT_SECRET="fantrade-super-secret-dev-jwt-key-2026"

# Economic Configuration
DEFAULT_BUY_FEE_RATE=0.004
DEFAULT_SELL_FEE_RATE=0.004
DEFAULT_SWAP_FEE_RATE=0.004
